body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
  background-image: url("./media/background.jfif");
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 350px;
}

.keys {
  display: flex;
  width: 70%;
}

.key {
  margin: 0;
  padding: 0;
  border: 3px solid black;
  border-radius: 4px;
  width: 8%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  padding: 8px;
  transition: all 0.07s;
}

h1 {
  margin: 0px;
  padding: 0;
  text-align: center;
  color: rgb(236, 230, 230);
}

span {
  color: #ffc600;
  font-size: 14px;
  text-transform: uppercase;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}
